*{
    border: red solid 1px;
}

.app{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav{
    width: 50%;
    align-self: flex-end;
    position: absolute;
    display: block;
    background-color: black;
}
.nav > ul {
    display: block;
    float: left;
    padding: 0;
    width: 80%;
}
.nav > ul > li{
    display: inline-block;
    font-size: 1.3vw;
    margin: 0 2%;
    color: white;
}
.nav > ul > li:hover{
    border-bottom: 1px solid gold;
    cursor: pointer;
}
.nav > h1{
    float: right;
    margin: 0 auto;
    width: 10%;
    color: orange;
    text-align: center;
}


.main_head{
    display: flex;
    flex-direction: column;
    background-image: url("./components/img/mainhead.png");
    background-size: cover;
    width: 100%;
    height: 700px;
}
.main_head > div{
    width: 50%;
    align-self: flex-end;
    position: absolute;
    position: relative;
    top: 40%;
    color: white;
}
.main_head > div > h1{
    margin: 0 auto;
    font-size: 4vw;
    padding: 4% 0;
}
.main_head > div > button{
    padding: 2% 4%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: solid 1px gold;
}
.main_head > div > button:hover{
    cursor: pointer;
    background-color: rgba(100, 90, 14, 0.234);
}

.main_content{
    width: 100%;
    height: auto;
    display: flex;
    border: blue solid 1px;
}

.mainRight{
width: 40%;
}
.mainRight > div {
    height: 33.3%;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.mainRight :first-child{
    background-image: url("./components/img/main1.png");
}
.mainRight :nth-child(2){
    background-image: url("./components/img/main2.png");
}
.mainRight :nth-child(3){
    background-image: url("./components/img/main3.png");
}

.mainLeft{
    width: 60%;
   }
.mainLeft > div{
    height: 27%;
    margin: 6%;
}
.mainLeft > div > h1{
    font-size: 5vw;
    text-align: left;
}
.mainLeft > div > p{
    font-size: 2vw;
    text-align: left;
}
      

.footer{
    background-image: url("./components/img/footer.png");
    display: flex;
    padding: 6%;
}
.footer > div{
    color: white;
    width: 25%;
    padding: 2%;
}