*{
    box-sizing: border-box;
}

#root{
    background-color: black;
    width: 100%;
    min-width: 700px;
}

#link:link, #link:visited, #link:active {
    text-decoration: none;
    color: black;
}

#link:hover {
    opacity: 0.8;
}

/* main doc body */
.app{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    max-width: 1100px;
    width: 100%;
    min-width: 700px;
    margin: 0 auto;
    height: 2520px;
}

/* nav styling */
.nav{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    background-image: url("./img/navbg.png");;
}
.nav ul {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0;
    margin: 2px 0;
}
.nav li {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    flex: 1;
    height: auto;
}
.nav li:last-child{
    flex: 0.5;
}

.nav a, .nav button{
    color: white;
    font-size: 16px;
    text-decoration: none;
    line-height: 16px;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.nav a:visited, .nav button:visited{
    color: white;
    text-decoration: none;
}
.nav a:hover, .nav button:hover{
    border-bottom: 1px solid gold;
    cursor: pointer;
    text-decoration: none;
}
.nav img{
    width: 22px;
    margin: 1px;
    height: 20px;
}


/* main page header */
.main_head{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    background-image: url("./img/mainhead.png");
    background-size:cover;

}
.main_head div{
    position: relative;
    flex-basis: 600px;
    padding: 2%;
    color: white;
}
.main_head h1{
    margin: auto;
    font-size: 50px;
    padding: 4% 0;
}
.main_head button{
    padding: 2% 4%;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px gold;
    color: gold;
}
.main_head button:hover{
    cursor: pointer;
    background-color: rgba(100, 90, 14, 0.234);
}
      
/* footer w/socials stylings */
.footer{
    display: flex;
    flex: 0.3;
    background-image: url("./img/footer.png");
    background-size: fixed;
    padding: 6% 3%;
}
.footer div{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
}
.footer h2{
    color: yellow;
}
.footer ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.footer li {
    padding: 0;
    align-items: flex-start;
    list-style-type: none;
}
.footer section{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 200px;
}
.footer section img{
    width: 100%;
    height: auto;
    margin: 2% 2% 2% 0;
}
.footer section img:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* main pg styling */
.main_cont{
    display: flex;
    flex: 2;

}

.mainRight{
    display: flex;
    height: 1200px;
    width: auto;
    flex-direction: column;
    flex: 1;
}
.mainRight div {
    width: 574px;
    height: auto;
}
.mainRight img {
    height: 100%;
    width: 100%;
}

.mainLeft{
    flex:1;
    display: flex;
    height: 1200px;
    flex-direction: column;
}
.mainLeft div{
    flex:1;
    width: 100%;
    height:auto;
    display: flex;
    background: white;
    flex-direction: column;
    padding: 5%;
}
.main-img-1{
    width: 10%;
    align-self: flex-end;
}
.main-img-2{
    width: 8%;
    align-self: flex-start;
}
.mainLeft h1{
    margin: 0;
    font-size: 40px;
    text-align: left;
}
.mainLeft p{
    width: 80%;
    padding: 1%;
    font-size: 22px;
    text-align: left;
}

/* special offer pg styling */
.special_offer{
    background-image: url("./img/mainbot.png");
    flex: 1;
    display: flex;
    position: relative;

    background-size:cover;
    background-position: center;
}
.special_offer_txt{
    position: absolute;
    left: 15%;
    padding: 4%;
}
.special_offer_txt  :nth-child(1){
    background: linear-gradient(275.03deg, #FFC700 4.43%, #AF9845 32.39%, #7E6C2A 58.65%, #BCA03B 103.4%, #E7B811 116.19%);
    transform: rotate(-24.54deg);
}
.special_offer_txt :nth-child(2){
    background: linear-gradient(114.68deg, #FFC700 22.41%, #665F48 45.2%, #A89244 69.97%, #F2C218 95.64%, #454545 121.79%, #F0C118 134.62%);
    transform: rotate(-24.54deg);
}
.special_offer_getstarted{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15%;
    font-size: 30px;
    color: gold;
    background-color: rgba(0, 0, 0, 0.357);
}
.special_offer button{
    padding: 2% 4%;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px gold;
    color: gold;
}
.special_offer button:hover{
    cursor: pointer;
    background-color: rgba(100, 90, 14, 0.522);
}

/* menu pg styling */
.menu {
    display: flex;
    flex: 3.75;
    flex-direction: column;
    background-color: white;
}
.menu_top {
    width: 40%;
    height: 200px;
    margin: auto;
}
.menu_mid {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}
.menu_bot {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110px;
    padding: 2%;
}
.menu_bot button, .add_btn{
    color: black;
    background: gold;
    padding: 2% 4%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.menu_bot button:hover, .burger_elem_topl button:hover, .add_btn:hover{
    cursor: pointer;
    opacity: 0.6;
}

.burger_card{
    height: 300px;
    flex-basis: 220px;
    padding: 0;
    margin: 2%;
    border: solid 1px rgba(0, 0, 0, 0.207);
    border-radius: 5px;
    -webkit-box-shadow: 4px 7px 10px -3px #6B6B6B; 
    box-shadow: 4px 7px 10px -3px #6B6B6B;
}
.burger_card_img{
    position: relative;
    height: 150px;
    width: auto;
}
.burger_card_img img{
    width: 100%;
    height: 100%;
}
.burger_card_img p{
    position: absolute;
    background-color: rgba(255, 217, 0, 0.74);
    border-radius: 5px;
    top: 70%;
    left: 10%;
    padding: 1%;
}

.burger_card_txt{
    display: flex;
    flex-direction: column;
    padding: 1% 8%;
    height: 50%;
    width: 100%;
    justify-content: space-around;
}
.burger_card_txt :nth-child(1){
    margin: 0;
}
.burger_card_txt div{
    display: flex;
    width: 100%;
    height: 20%;
    color: rgb(255, 217, 0);
    font-weight: bolder;
    text-shadow: rgb(0, 0, 0) 0px 0px 1px;
    justify-content: space-between;
    align-items: center;
}
.burger_card_txt div img{
    width: 20px;
    height: 20px;
}

.add_btn{
    font-size: 14px;
    font-weight: normal;
}

/* each burger page styling */
.burger_elem{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.burger_elem_top{
    display: flex;
    align-content: flex-end;
    flex-basis: 100%;
    height: 100%;
}
.burger_elem_topl{
    flex-basis: 45%;
    padding: 10% 5%;
}
.burger_elem_topr{
    flex-basis: 55%;
    padding: 5% 0;
}
.burger_elem_topr img{
    width: 100%;
}
.bacon-plant{
    width: 35%;
    padding: 1%;
    font-weight: bolder;
    color: white;
    background-color: gold;
}
.burger_elem_topl > :nth-child(2), .burger_elem_topl > :nth-child(3){
    display: inline;
    color: rgb(255, 217, 0);
    text-shadow: rgba(0, 0, 0, 0.22) 0px 0px 1px;
    margin-right: 4%;
}
.topl_div :nth-child(2) {
    margin-right: 8%;
}
.topl_div img, .topl_div p {
    display: inline-block;
    margin-right: 1%;
}
.burger_elem_topl button{
    color: black;
    background: gold;
    border: none;
    padding: 4% 6%;
    margin: 4% 0;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 2px;
}
.burger_elem_bot{
    display: flex;
    flex-basis: 100%;
    background-image: url("./img/burger_component_img1.png");
    justify-content: flex-end;
    height: 700px;
    background-size: cover;
    background-position: center;
}
.burger_elem_bot_container {
    color: white;
    width: 55%;
    padding: 2% 0;
}
.burger_elem_bot_container_top{
    border-bottom: 1px solid white;
    padding: 5% 10%;
}
.burger_elem_bot_container_top :nth-child(2){
    width: 20%;
    text-shadow: rgba(0, 0, 0, 0.541) 0px 0px 1px;
    padding: 1%;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    background-color: gold;
}
.burger_elem_bot_container_bot {
    padding: 5% 10%;
}
table{
    width: 100%;
}
td {
    padding: 0 3% 3% 0;
}

/* Order complete pg styling */
.order_complete{
    display: flex;
    margin-top: 6%;
    height: 600px;
    width: auto;
    background-color: white;
}
.order_complete div{
    position: relative;
    margin: auto;
    height: 75%;
    width: 100%;
    background-image: url('./img/complete_order.png');
    background-size: cover;
    background-position: center;
}
.order_complete div p{
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.548);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    padding: 10% 25%;
}

/* Order page & form styles */
.order_page{
    display: flex;
    background: white;
    margin-top: 8%;
}
.order_page_form{
    padding: 8% 4%;
    flex-basis: 40%
}
.order_page_form form{
    display: flex;
    flex-direction: column;
}
.order_page_form form > p{
    font-weight: bold;
    color: gold;
    border: none;
}
.order_page_form form select, .order_page_form form button{
    background-color: gold;
    border: gold;
    width: 25%;
    padding: 2%;
    border-radius: 2px;
}
.order_page_form form > *, .order_page_form form div input{
    border-radius: 4px;
    padding: 1.5%;
    margin: 4% 2%;
    border: 1px solid rgba(0, 0, 0, 0.549);
}
.order_page_form form div{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: none;
}
.postcode {
    width: 50%
}

.order_page_receipt{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    height: 100%;
    margin: 2% 0 2% 2%;
    background-color: black;
    border-radius: 3px;
    border: solid 1px rgba(128, 128, 128, 0.494);
    color: white;
    padding: 5%;
}
.receipt_buy{
    padding: 5% 0;
    border-bottom: solid 1px grey;
}
.receipt_buy button{
    margin-left: 5%;
    border: solid 1px gold;
    padding: 1% 6%;
    background-color: gold;
    border-radius: 2px;
    font-size: 20px;
}
.receipt_main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2% 0;
    border-bottom: solid 1px grey;
}

.burger_in_cart{
    display: flex;
    height: 15%;
    width: 100%;
    margin: 1% 0; 
    align-items: center;
    justify-content: space-around;
}
.receipt_main_img{
    flex-basis: 30%;
}
.receipt_main_img img{
    width: 100%;
}
.receipt_main_info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.receipt_main_info div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px rgba(128, 128, 128, 0.281) solid;
}
.receipt_main_info p{
    font-size: 20px;
    margin: 1% 0;
    text-align: center;
}
.receipt_main_info div button{
    color: red;
}
.receipt_main_info select{
    width: 20%;
    border-radius: 2px;
    padding: 2%;
    background-color: gold;
}

.order_page_form form select:hover,
.order_page_form form button:hover,
.receipt_main_info select:hover,
.receipt_buy button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.receipt_delivery, .receipt_total{
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
}
.receipt_delivery{
    border-bottom: solid 1px grey;
}